@tailwind components;
@tailwind utilities;

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
input {
  background: transparent;
}
a {
  text-decoration: inherit;
  color: inherit;
}

html.dark body {
  background: hsl(var(--background)) !important;
  color: hsl(var(--foreground)) !important;
}

html:not(.dark) pre {
  background-color: #f4f4f5 !important;
  color: #18181b !important;
}

html:not(.dark) code {
  color: #18181b !important;
}
